<div class="container">
  <h2>Cadastro de Clientes</h2>
  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="p-fluid">

    <div class="p-field">
      <label for="name">Nome</label>
      <input pInputText id="name" formControlName="name" />
      <small *ngIf="customerForm.get('name')?.touched && customerForm.get('name')?.invalid">
        Name is required (min 3 characters).
      </small>
    </div>

    <div class="p-field">
      <label for="email">Email</label>
      <input pInputText id="email" type="email" formControlName="email" />
      <small *ngIf="customerForm.get('email')?.touched && customerForm.get('email')?.invalid">
        Valid email required.
      </small>
    </div>

    <div class="p-field">
      <label for="cpf">CPF</label>
      <p-inputMask mask="999.999.999-99" formControlName="cpf"></p-inputMask>
      <small *ngIf="customerForm.get('cpf')?.touched && customerForm.get('cpf')?.invalid">
        CPF é obrigatório para Brasil.
      </small>
    </div>

    <div class="p-field">
      <label for="birthDate">Data de Nascimento</label>
      <p-datepicker id="birthDate" formControlName="birthDate" showIcon dateFormat="dd/mm/yy"
        [maxDate]="today"></p-datepicker>
      <small *ngIf="customerForm.get('birthDate')?.touched && customerForm.get('birthDate')?.hasError('required')">
        Campo obrigatório.
      </small>
      <small *ngIf="customerForm.get('birthDate')?.touched && customerForm.get('birthDate')?.hasError('max')">
        Data inválida.
      </small>
    </div>

    <div class="p-field">
      <label for="phone">Telefone</label>
      <p-inputMask [mask]="contactMask" formControlName="phone" appValidPhone [contactType]="customerForm.get('contactType')?.value">
        <ng-template pInputMask>
          <input type="text" formControlName="phone" appValidPhone [contactType]="customerForm.get('contactType')?.value" />
        </ng-template>
      </p-inputMask>

      <small *ngIf="customerForm.get('phone')?.touched && customerForm.get('phone')?.hasError('invalidPhone')">
        Telefone inválido para o tipo de contato selecionado.
      </small>
    </div>


    <div class="p-field">
      <label for="contactType">Tipo de Contato</label>
      <p-select formControlName="contactType" [options]="['Whatsapp', 'Fixo', 'Residencial']"
        placeholder="Selecione"></p-select>
    </div>

    <div class="p-field">
      <label for="country">País</label>
      <p-select id="country" formControlName="country" [options]="countries" optionLabel="name" optionValue="code"
        placeholder="Selecione o país"></p-select>
      <small *ngIf="customerForm.get('country')?.touched && customerForm.get('country')?.hasError('required')">
        Campo obrigatório.
      </small>
    </div>

    <div class="p-field">
      <label for="state">Estado</label>
      <p-select id="state" formControlName="state" [options]="statesList" optionLabel="name" optionValue="code"
        placeholder="Selecione o estado"></p-select>
      <small *ngIf="customerForm.get('state')?.touched && customerForm.get('state')?.hasError('required')">
        Campo obrigatório.
      </small>
    </div>

    <button pButton type="submit" label="Enviar"></button>

  </form>
</div>
